<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="col-md-6 offset-3">
    <form method="post" th:action="@{/admin/save(page=${page},keyword=${keyword})}">
        <div class="form-group">
            <label for="id">ID :</label>
            <input type="hidden" class="form-control" th:value="${patient.id}" id="id" name="id">
        </div>
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" class="form-control" th:value="${patient.name}" id="name" name="name">
            <span th:errors="${patient.name}"></span>
        </div>
        <div class="form-group">
            <label for="malade">Malade :</label>
            <input type="checkbox" th:value="${patient.malade}" id="malade" name="malade">
            <span th:errors="${patient.malade}"></span>
        </div>
        <div class="form-group">
            <label for="dateNaissance">Date Naissance :</label>
            <input type="date" class="form-control" th:value="${patient.dateNaissance}" id="dateNaissance" name="dateNaissance">
            <span th:errors="${patient.dateNaissance}"></span>
        </div>
        <div class="form-group">
            <label for="score">Score</label>
            <input type="text" id="score"  class="form-control" name="score" th:value="${patient.score}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Patient</button>
        </div>
    </form>
</div>
</body>
</html>